[2018-01-16 23:48] vibdev opened #19 "error when running wdio"
when I try and run my wdio tests with this service I am getting:
[code]

[2018-01-17 03:28] stsvilik commented on #19
Looking into it

[2018-01-17 03:58] stsvilik commented on #19
Please update package to version 1.1.5 this should fix it. I messed up prepublish config :)

[2018-01-17 03:58] #19 closed

[2018-02-23 16:33] mouyigang opened #21 "Service never starts if an docker image is only built locally"
Hi,

Root cause was wrong command was used to check docker image exists locally or not.
I created a pull request for this.
https://github.com/mouyigang/wdio-docker-service/pull/1

Thanks,
Andy

[2018-02-23 22:18] stsvilik commented on #21
Could you open PR against your upstream (stsvilik/wdio-docker-service)?

[2018-02-24 17:18] #21 closed

[2018-03-02 10:21] prianchiru opened #23 "ERROR: connect ECONNREFUSED 127.0.0.1:4444"
Configured the config file as mentioned in the example. I am getting this error on building the image. my configuration files are as follows.

[code]

Dockerfile
`FROM node:carbon
ADD . /app
WORKDIR /app
RUN npm i
RUN npm run test`

Full error text as follows
[code]

[2018-03-03 19:16] stsvilik commented on #23
I'll need some help to understand whats going on here, so I'll ask you a few questions:
1. Do you have any proxies on your network that could prevent `selenium/standalone-firefox` image from being pulled off public DockerHub?
2. What is that other Dockerfile you mention?

Just to clarify things you can only deal with one docker image at a time - either use Selenium dockers to run your tests or use

[2018-03-04 13:28] stsvilik commented on #23
Actually @prianchiru I think you're trying to run this within a docker container. If so then you have few choices to proceed:
a. Install docker into your testing container as dependency (kinda complex way)
b. Have another parallel container running `selenium/standalone-firefox` joined by same network. In this scenario you don't even need `docker` service, just point config to a container where sel

[2018-03-07 13:07] stsvilik commented on #23
@prianchiru Is this still an issue for you?

[2018-03-10 01:58] stsvilik commented on #23
Closing due to inactivity - if you still have issues please re-open.

[2018-03-10 01:58] #23 closed

[2018-03-27 18:32] rycornell opened #25 "_fsExtra2.default.readFile(...).then(...).finally is not a function"
When I run wdio, I get this error:

    A service failed in the 'onPrepare' hook
    TypeError: _fsExtra2.default.readFile(...).then(...).finally is not a function
        at Docker._removeStaleContainer C:\Repos\AppRiver.Shakedown\e2e\webdriverio\node_modules\wdio-docker-service\lib\utils\docker.js:212:19)

When I remove the `finally` block from the `_removeStaleContainer` method, it works fine.

[2018-03-28 12:35] stsvilik commented on #25
Thank you @rycornell I'll take a look. This is likely due to `fsextra` Promise implementation which is not `bluebird` which I anticipated.

[2018-03-29 05:00] stsvilik commented on #25
This should be fixed now. Please update your package.

[2018-03-29 05:00] #25 closed

[2018-04-25 14:19] mouyigang opened #27 "[Feature Request] Extra dockerOptions to allow docker to start in longer period of time"
I have an use case that the docker container starts really slow and the health check timeout in 5 seconds.
Could you allow us to pass in max retry as part of dockerOptions?
If possible, the following options will be great:
Interval(INSPECT_DOCKER_INTERVAL)
Start period(before start checking docker's health)
Retries(MAX_INSPECT_ATTEMPTS)

Many thanks

[2018-04-29 01:49] stsvilik commented on #27
I'll see what I can do. I also encourage trying to add it yourself as a PR :)

[2018-04-29 16:03] stsvilik commented on #27
Please review https://github.com/stsvilik/wdio-docker-service/pull/28

[2018-05-02 03:43] #27 closed

[2018-05-28 11:02] emilbader opened #30 "onDockerReady is called even though healthCheck.url isn't reachable"
### Description
I might have misunderstood the purpose of `healthCheck` and the `onDockerReady` callback method, but in my experience, `onDockerReady` method is called even though an app isn't reachable.

### Code to reproduce
Let's say I have an app that runs on `http://localhost:8080`.
A working `wdio.conf.js` config could look like this:

[code]

Now, If I were to change the `p` option to e.g.

[2018-05-29 14:48] stsvilik commented on #30
Thank you @emilbader for bringing it up. I'll investigate this issue later this week.

[2018-05-31 01:57] stsvilik commented on #30
@emilbader I tried your example using one of the tests in this repository `test/integration/docker-app` and was unable to replicate this issue. This leads me to believe that it might be possible that some other app may still use port `8080` on your machine. To test this theory can you try one of theses:
1. Hit `http://localhost:8080` while you running test with ports set to `3030:'3030`, and see i

[2018-05-31 04:15] stsvilik commented on #30
Please update to version 1.3.0 to get the fix

[2018-05-31 04:15] #30 closed

[2018-06-04 15:05] emilbader opened #32 "feat: Propagate error from ping to WDIO's runner?"
### Description
https://github.com/stsvilik/wdio-docker-service/pull/31 bug fix made sure that `onDockerReady()` callback function isn't called if an app was is, great! Now, if you have `debug: true` in `wdio.config.js` you will also see the following error message:

[code]
However, this error is handled and logged [here](https://github.com/stsvilik/wdio-docker-service/blob/master/src/launcher.js#

[2018-06-04 15:10] stsvilik commented on #32
@emilbader everything is possible :) I'll play with your proposal later this week to see how it behaves

[2018-06-13 02:03] stsvilik commented on #32
@emilbader I was unable to terminate test runner on error. It seems that service launcher runs services in parallel using `Promise.all` [here](https://github.com/webdriverio/webdriverio/blob/master/lib/launcher.js#L194). Of course you could try  yourself, I'll be glad to take any contributions ;)

[2018-07-22 15:01] danielleballas opened #33 "Run docker with wdio-docker-service"
Hi,

i'm trying to run the tests with docker but but without success.
What is the right command that I should run?

[2018-07-27 02:13] stsvilik commented on #33
Hi @danielleballas,
It would help to know what you have tried already.

How about answer these questions:
1. Do you have `webdriverio` installed on your machine?
2. Do you have `Docker` installed on your machine?
3. Did `wdio-docker-service` install ok?

I guess I just want to get an idea of where to start answering your question :)

[2018-07-27 06:51] danielleballas commented on #33
Yes, all of them are installed.
But now I want to run the docker, What command should I run?

Sent from my iPhone

[2018-07-27 14:55] stsvilik commented on #33
@danielleballas, this service would invoke `Docker` on its own. Question for you; Is your main app running in `Docker` and you want to test against it, OR your app is running locally and you want to use `Docker` to run `Selenium + Chrome` to test against it? There is a big difference between the two.

[2018-07-27 16:04] danielleballas commented on #33
My app is running locally and i want to use Docker to run Selenium + Chrome

Sent from my iPhone

[2018-07-28 05:31] stsvilik commented on #33
Have you tried following [wiki](https://github.com/stsvilik/wdio-docker-service/wiki/Selenium-Docker:-Testing-local-applications) instructions?

[2018-07-31 18:43] stsvilik commented on #33
@danielleballas please let me know if you still having trouble. There is no "right" command to run test, it is all configurable through wdio config files documented in the wiki. If you need to know how to run webdriver tests in general, then its described [here](http://webdriver.io/guide/testrunner/gettingstarted.html)

[2018-08-03 19:50] #33 closed

[2018-09-04 14:44] NicklasWallgren opened #35 "Cidfile - Escape of spaces"
Launching docker image 'selenium/standalone-chrome'
docker run --cidfile /mnt/jenkins/workspace/Project (Dev)/client/selenium_standalone_chrome.cid --rm -p 4444:4444 --shm-size 2g selenium/standalone-chrome
docker: invalid reference format: repository name must be lowercase.
See 'docker run --help'.

[2018-09-06 02:40] stsvilik commented on #35
Did you try escaping manually?

[2018-09-06 02:46] stsvilik commented on #35
nvm previous comment, I see whats going on, I'll take a look

[2018-09-07 02:44] stsvilik commented on #35
This has been fixed in latest version

[2018-09-07 02:44] #35 closed

[2018-09-10 15:21] Ni55aN opened #38 "Cannot find module './utils/colorLogger'"
colorLogger.js is lost starting from v1.4.1

[2018-09-10 19:11] stsvilik commented on #38
thanks, I will take a look

[2018-10-09 09:48] mouyigang opened #43 "docker event --format only available since 1.13"
After updated to 1.5.0 we start to see errors like this:
[code]

The docker service starts as expected though, the problem lays on the older version of docker we are using: 1.12.

Would be nice if you can update the release note so that other user will be noticed about this change.

[2018-10-10 01:56] stsvilik commented on #43
@mouyigang Thank you for letting me know, will do.

[2018-10-10 02:04] stsvilik commented on #43
Release notes updated

[2018-10-10 02:04] #43 closed

[2018-12-30 17:40] niksy opened #44 "Upgrade to WebDriverIO v5?"
Is there any plan to use latest major WebdriverIO version?

[2018-12-31 05:12] stsvilik commented on #44
Sure, as soon as holidays are over

[2019-02-04 20:52] ematta commented on #44
Are there any updates on when wdio v5 support will come in?

[2019-02-04 21:05] stsvilik commented on #44
it's coming, changes in testing cause the delay,  otherwise it's working. I hope to have it out in a week.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Enrique Matta-Rodriguez <notifications@github.com>
Sent: Monday, February 4, 2019 3:52:36 PM
To: stsvilik/wdio-docker-service
Cc: Simon Tsvilik; Comment
Subject: Re: [stsvilik/wdio-docker-service] Upgrade

[2019-02-09 14:38] stsvilik commented on #44
I'm having a hard time with `selenium-standalone`. Did anyone got it running locally. If yes share a working example :|

[2019-02-12 14:55] catalandavid commented on #44
@stsvilik, you mean get the NPM module runnning locally?
Usually
[code]
would just work like a charm.
You then get your standalone Selenium server available @ http://localhost:4444.
Selenium-standalone does not handle installations of browsers. So if you want to interact with Chrome, you need Chrome to be installed at the standard location.

[2019-02-13 00:59] stsvilik commented on #44
Not that simple for version 5. All essential services are already bundled into main `webdriverio` repo. With this setup you add new service there (under `/packages`), which becomes part of main repo. So I'm having problem running `@wdio/selenium-standalone` that is built-in. Just doesn't work! Overall new version is very confusing and difficult to contribute to.

[2019-02-13 08:49] catalandavid commented on #44
Ah so you have issue with `wdio-selenium-standalone-service`. I've just tested it on a blank project and it worked.
You can check it here: https://github.com/catalandavid/wdio-samples/tree/master/wdio5/wdio-selenium-standalone-service

[2019-02-14 05:47] stsvilik commented on #44
@catalandavid Ok, got that test to pass - turned out that I can't use ES6 import syntax in `wdio.config.js` files even though it runs with `babel-node`. Like I said, finding useful examples in the repo is hard and sometimes misleading. Moving forward ... TY for the help!

[2019-02-14 09:06] catalandavid commented on #44
You're welcome! please let me know if I can help to get the issue fixed.

[2019-02-27 08:55] catalandavid commented on #44
Hello @stsvilik, any update on this issue? Can we help to get it fixed?

[2019-03-01 02:41] stsvilik commented on #44
Just came back from vacation :| Working ...

[2019-03-07 01:19] rostgoat commented on #23
having issues with this using wdio v5

[2019-03-07 03:15] stsvilik commented on #23
This version is not yet compatible with v5

[2019-03-07 03:17] stsvilik commented on #44
@catalandavid I'm just not getting Jest :(
Here is what I have so far - need few more tests to pass coverage limitation, otherwise it's working. Any help writing unit tests appreciated.
https://github.com/stsvilik/webdriverio/tree/wdio-docker-service

[2019-03-07 08:58] catalandavid commented on #44
Ah you plan you contribute the service in webdriverio project, great idea, it makes sense! :)
BTW, if you are not already there, I suggest you contact the maintainers here https://gitter.im/webdriverio/webdriverio to communicate your idea to contribute your service.

[2019-03-07 08:59] catalandavid commented on #44
About your fork, shall I check on master directly or branch `wdio-docker-service`?

[2019-03-08 06:46] stsvilik commented on #44
I would checkout branch `wdio-docker-service`, it just needs a few more tests - just add yourself to contributors in package.json and it'll be a joint effort :)

[2019-03-28 23:01] christian-bromann commented on #44
Anything I can do to support the update?

[2019-03-31 00:34] stsvilik commented on #44
@christian-bromann That branch would be under my fork. I'm not too keen on Jest mocking/testing so basically all that is needed is to add/modify existing mocha tests to pass coverage threshold. Otherwise code in that branch is working.

[2019-04-16 11:49] serbanghita commented on #44
I made a PR and a POC https://github.com/serbanghita/wdio5-docker
I couldn't include `git@github.com:serbanghita/wdio-docker-service.git#WDIO5` directly because of one babel error `npm ERR! prepareGitDep Error: Couldn't find preset "env" relative to directory "/Users/sghita/.npm/_cacache/tmp/git-clone-7ef10687"`. Apparently using the repo as a package messes up babel. You should be fine testing th

[2019-04-17 02:00] stsvilik commented on #44
@serbanghita thank you! Will take a look.

[2019-04-18 04:32] anil8040 opened #46 "Unable to open the secured Website Applications inside docker,even after passing Cookies"
Hi
I am able to open an applications which are not secured inside the docker successfully when we try to open secured applications with cookies inside docker using webdriverio.
We are not able to able any.There are no logs getting generated inside the docker

Request your Help on this issue

[2019-04-18 11:45] stsvilik commented on #46
You may want to use VNC while a browser in the container is running to see what is going on. Its possible that browser needs to disable SSL verification to access a site.

[2019-04-19 04:05] stsvilik commented on #46
As for logs - did you set `debug: true` and `dockerLogs: './`?

[2019-04-19 11:34] anil8040 commented on #46
As for VNC Due to security reason I won’t  be able to install
Logs
I tried to add code for   docker compose up logs in docker file.
But NO luck

[2019-04-19 13:50] stsvilik commented on #46
Few questions:
1. Are you using Docker to run Selenium image and trying to access external site to test?
2. Is secure site you're trying to access running with self-signed certificate?

[2019-04-19 14:10] anil8040 commented on #46
1 . I am using Docker to run selenium webdriverio scenarios to test the application .not external site
As selenium image

2. Yes , the application I am trying to access has self signed  certificate

[2019-04-19 15:14] stsvilik commented on #46
In that case it is quite possible that a browser inside container is blocking self-signed certificate sites just like it does in your browser (when it prompts to accept an unrecognized certificate). I believe in Chrome there is a flag which ignores custom certificates (i.e. `--allow-insecure-localhost`). Try passing that and see what happens.

[2019-04-19 16:12] anil8040 commented on #46
Hi
Do we need to pass along  the url or we need to pass this in Dockerfile while creating the image of selenium stand-alone chrome

[2019-04-19 19:39] stsvilik commented on #46
No, those are passed-in as `capabilities` section of configuration for a browser.
[code]

[2019-04-19 21:33] anil8040 commented on #46
Hi,
I added as per your suggestion with additional security features as shown in screenshots

But i am still not able to open the applications,I am getting the error like below(attached screenshot)

![IMG_6067](https://user-images.githubusercontent.com/48579523/56444959-00084000-62c9-11e9-9209-c5e741b34650.jpg)
![IMG_6065](https://user-images.githubusercontent.com/48579523/56444980-10201f80-62c9-1

[2019-04-19 23:12] stsvilik commented on #46
sorry, I can't see those attachments

[2019-04-19 23:15] stsvilik commented on #46
Also try adding flags with dashes

[code]

[2019-04-22 15:50] anil8040 commented on #46
I added  the commands with dashes
Now I am getting the error message as

Logs show as
Url name is  “data;”
Title is showing as blank

Looks like the chrome browser is open but the application is not able to open  inside docker

[2019-04-23 02:24] stsvilik commented on #46
This means it can not access it by url. If your app is running on your machine, then you can not use `localhost` for `baseUrl` since inside docker it means a different thing. So you need to use either an IP of your machine on your network or map that IP to a `dockerhost` name like explained [here](https://github.com/stsvilik/wdio-docker-service/wiki/Selenium-Docker:-Testing-local-applications)

[2019-04-23 10:49] GSasu opened #47 "[Question] Can the docker service be used in a similar manner as a docker-compose yml file?"
Hi,

I am interested if the docker service is able to run a docker-compose file or if I can build a setup with multiple images similar to the following docker-compose.yml file.

[code]

I'm asking this because I am more used to docker-compose than docker run and wanted to know if I need to look into transforming my yml file into a single docker run command or not.

Thank you in advance

[2019-04-23 12:58] stsvilik commented on #47
@GSasu unfortunately this service does not support `docker-compose` at this time. Depending on your scenario you could use it to host your app instead of Selenium and reference your composed version of it to run the tests. With help of events you could theoretically spawn off a `docker-compose` process in the background.

[2019-04-23 13:24] GSasu commented on #47
@stsvilik Thank you for your reply, I will look into spawning a docker-compose process.

[2019-04-23 23:57] stsvilik commented on #47
👍

[2019-04-23 23:57] #47 closed

[2019-04-24 01:38] stsvilik commented on #44
thanks to @serbanghita new release is compatible with WDIO 5.x
https://github.com/stsvilik/wdio-docker-service/releases/tag/v2.0.2

[2019-04-24 09:42] serbanghita opened #50 "Remove `fs-extra` dependency"
@stsvilik  I looked over the way we use `"fs-extra": "^7.0.0",` package and I believe we can get rid of the dependency by having a bunch of local functions in `src/utils` based on `fs` native module. Let me know your thoughts on this.

[2019-04-24 11:24] #44 closed

[2019-04-24 23:48] stsvilik commented on #50
Thats definitely possible - will need to promisify native fs and some refactoring around checking for log files writeability.

[2019-04-25 02:51] stsvilik commented on #46
@anil8040 any progress on getting this working?

[2019-04-25 04:29] anil8040 commented on #46
Hi,
Still unable to open the secured website applications.
Other Application such as Google (I am able to open inside docker  and retrieve the title)
That is what i am worried  😟 .How come i am able to open Google  but not secured application inside docker
I am using Webdriverio V4,Node version 7

Is it Possible to start selenium-standalone chrome server inside linux machine and run scripts using

[2019-04-25 22:12] stsvilik commented on #46
So the reason you have no problems opening up Google is because it has a valid certificate. Your site on the other hand uses self-signed certificate which Chrome's security prevents from opening it up. If you look deeper into Chrome CLI flags you may find one that works for you or bypasses security all together (I thought the ones I sent you would do that).

As for running selenium-standalone on l

[2019-04-30 12:17] nealio42 opened #51 "Example on how to use hub and nodes"
Hi, thank you for your amazing work on wdio-docker-service. Is there a way to configure dockerOptions section of my wdio.conf.js to allow for a hub with nodes? e.g. Instead of using the a standalone image, I would like to use the hub with chrome and firefox. Thanks!

[2019-05-01 00:53] stsvilik commented on #51
Hello @nealio42 its great that you find my service useful :). So the thing about Selenium Hub is that it requires multiple containers or machines to run. The simplest way to run Selenium Hub locally is by using `docker-compose` as described (here)[https://github.com/SeleniumHQ/docker-selenium]. Unfortunately `wdio-docker-service` can only run one image at a time. I will likely add `docker-compose`

[2019-05-01 00:56] stsvilik opened #52 "Add support for docker-compose"
This feature would allow automatic startup/teardown of `docker-compose` files in addition do Docker images.

[2019-05-01 00:57] stsvilik commented on #46
@anil8040 is this resolved? Anything else I could help you with?

[2019-05-01 01:00] anil8040 commented on #46
Hi
I added the docker host details which you told
.Now I am getting logs But still the issue exists
It Shows Blank when I tried to retrieve title of the application

[2019-05-01 01:01] stsvilik commented on #46
Perhaps its a matter of adding `waitFor` in your test to ensure page has loaded?

[2019-05-01 10:51] nealio42 commented on #51
excellent! thanks for the response. Have a great day!

[2019-05-01 10:51] #51 closed

[2019-05-08 02:18] stsvilik commented on #46
@anil8040 have you figured it out, or should I close this issue?

[2019-05-08 05:12] anil8040 commented on #46
I still have the issue. Unable to retrieve the element value

[2019-05-23 20:06] #46 closed

[2019-05-23 20:06] stsvilik commented on #46
Closing due to inactivity

[2019-06-06 20:34] thilaksatish commented on #44
Hi there, I'm trying to use this dependency with wdio v5 and I get docker service initialization error. I'm using the latest version of wdio-docker-service(2.1.0).  Below is my config details.

    services = ['docker'];
    hostname = 'localhost';
    dockerLogs = './dockerLogs';
    dockerOptions = {
        image: 'selenium/standalone-chrome-debug',
        healthCheck: 'http://localhost:4444',

[2019-06-07 17:37] prathameshnyt commented on #23
@stsvilik it's still not compatible with v5?

Thanks,
Prathamesh

[2019-06-07 19:04] prathameshnyt opened #53 "'connect ECONNREFUSED 127.0.0.1:4444' with WebdriverIO v5"
We are getting following error with v5 version of WebdriverIO.

[code]

Node Version: v10.15.3
@wdio/local-runner@5.9.6
wdio-docker-service@2.1.0

[code]

Can you please let us know if we are missing something?

[2019-06-07 22:50] stsvilik commented on #44
@thilaksatish do you mind also sharing node and docker versions?

[2019-06-08 00:04] stsvilik commented on #44
@thilaksatish this error indicates that configuration was not passed into the service, which could indicate that config file has error or not consumed at all. Please give me an example of how you run it and a full sample of `wdio.config.js` file

[2019-06-08 00:28] stsvilik commented on #53
@prathameshnyt could you please provide docker version and a full config file. This error indicates that selenium docker container has not started at the time of the test. This could also be due to test code as well. Do you mind sharing `/test/basicTest.js` file?

[2019-06-08 03:02] prathameshnyt commented on #53
@stsvilik thanks for looking into it. Yes, selenium docker container is not starting for some reason. If I run `docker run hello-world` it works fine.

[code]

`test/basicTest.js` file:
[code]

[2019-06-08 03:06] prathameshnyt commented on #53
Mac OS Version: 10.14.5 (18F132)

Can you please share your working WDIO, docker version, and config file? I will compare it with mine.

Thanks,
Prathamesh

[2019-06-08 14:19] stsvilik commented on #53
You can find it in the source where integration tests are. I believe that your code is failing because you don't `await` for browser to open a url.

New webdriverio does not include `sync` by default, so you need to use `await/async` to make things work.

Change your code to this and try:

[code]

[2019-06-08 14:28] stsvilik commented on #23
For all looking for answers related to this issue please be advised that a) latest version is compatible with WDIO 5 and b) likely cause is not using `async/await` with `browser` methods.

[2019-06-08 22:57] prathameshnyt commented on #53
I tried this. I am seeing the same error.

[2019-06-08 23:15] prathameshnyt commented on #53
Thanks, I tried your wdio.conf from integration test and it worked for me without adding `await/async`. I will look into the diff and will update you.

Thanks,
Prathamesh

[2019-06-08 23:47] thilaksatish commented on #44
Thanks @stsvilik . I'll provide the details in a new ticket. Thanks for getting back to me on this.

[2019-06-09 14:05] prathameshnyt commented on #53
Thanks, our bad. I was able to get it to work. We have if/else conditions in our wdio.conf to check run environments. We checked for e.g. environment is docker vs standalone chrome we define respective services and options. In this case, we were setting `dockerOptions` in if condition for docker but we have not added it in `exports.config`. Adding `dockerOptions: dockerOptions` worked. Thank you s

[2019-06-09 14:05] #53 closed

[2019-06-10 19:43] thilaksatish commented on #44
@stsvilik I had something wrong in my wdio conf file. The service works great! Thanks for your help.

[2019-06-27 18:37] kannan2790 commented on #23
I am facing the same problem when i run docker service with wdio v5. You mentioned its "compatible" ?

[2019-06-28 17:11] stsvilik commented on #23
@kannan2790 yes version 5 is supported as of 2.x

[2019-07-30 17:53] Sureiya opened #56 "Docker events fails on windows"
Currently this does not work with docker on windows.

The following change to dockerEvents.js fixes it.

[code]

[2019-07-31 01:31] stsvilik commented on #56
@Sureiya strangely enough it fails on macOS :/ So you have tested with above change and it worked? The reason I ask is that above error can also appear when older version of Docker is installed (the one that doesn't support events).

[2019-07-31 03:22] Sureiya commented on #56
Yes I have, I'm running the latest version of docker-desktop in windows.
I'm guessing we may need some more platform independent method to run the
command, or It may be that an upstream bug needs to be filed with docker on
windows? I'm leaning more towards the former.

On Tue., Jul. 30, 2019, 9:31 p.m. Simon Tsvilik, <notifications@github.com>
wrote:

[2019-08-16 04:13] stsvilik commented on #56
@Sureiya sorry for long delay - I'm in the middle of a house move, is there a way you could put together a PR for this fix?

[2019-08-24 08:44] kapilag opened #57 "health check not waiting for selenium hub to be up"
First of all thanks for this service.
disclaimer: I am very new to webdriverio and javascript.

**Issue:**
docker service doesn't wait for hub to be up when using "zalenium"
**Details**
I am using [zalenium](https://opensource.zalando.com/zalenium/) docker images to start hub/node, and using health property for docker-service. Since zalenium take sometime to start hub and register node , docker se

[2019-08-24 14:55] stsvilik commented on #57
@kapilag Option `healthCheck` is designed to be configurable for cases like that. If you feel that Zelenium takes longer to start simply adjust the delay like so:
[code]
This setup should cover scenario even for Zelenium.

Another thing you want to pay attention to is the way test is written. For example if test is not waiting for a `browser` to open a url it will run through test before it is rea

[2019-08-24 15:10] kapilag commented on #57
Yes I have used the same solution mentioned by you as of now , but start
delay was something I thought we can get rid off.

Also zalenium gives a status URL, which return status of hub/nod in
response body, Which is the correct way of checking whether hub/node is up

Similar functionality can be provided by different services like selenoid
or other and call back function should be ideal solution?

[2019-08-25 03:05] stsvilik commented on #57
@kapilag Are you suggesting to wait on Docker events for built-in health check monitoring before starting a test? As an alternative to polling for service start using `fetch`?

[2019-08-25 12:58] kapilag commented on #57
@stsvilik :not really docker events, if you go to zalenium page over [here](https://opensource.zalando.com/zalenium/) , there is section having status url which is : http://localhost:4444/wd/hub/status
Response for this url would:
[code]
So ideally user of docker service would like to wait for "value.ready=true" in case of zalenium, now this can be different for different service.
If docker-servic

[2019-09-04 00:43] stsvilik commented on #57
@kapilag I think a custom healthecheck function is a doable option, however I'm not sure when I would be able to look into this.

[2019-09-17 20:34] abhijit945 commented on #56
Is there any workaround for this?

[2019-09-18 10:52] serbanghita commented on #56
@Sureiya just to be sure, do you have Win 10 Pro? I need to know how to test this on a Windows VM

[2019-09-20 14:43] Sureiya commented on #56
@serbanghita I am using Windows 10 Pro build 1903

[2019-11-10 16:46] webOS101 commented on #56
I'm seeing the same issue running on Ubuntu 16.04.4.  I had another installation that was working fine before on the same server but appears to not be working anymore.

Docker version 18.06.0-ce, build 0ffa825

[2019-11-10 21:45] webOS101 commented on #56
I'm embarrassed to say that I made a little mistake and didn't have privileges to run docker.  I must have been testing with running the docker image standalone before.  Still having some issues but I did resolve that one at least.

[2019-11-11 12:41] stsvilik commented on #56
@webOS101 you almost made me think that Docker has fixed that inconsistency - guess not :)

[2019-11-14 20:57] Fermich11 commented on #52
@stsvilik is going to be implemented soon?

[2019-11-21 08:17] zastqa commented on #23
I am still experiencing this issue with wdio v5 with latest wdio-docker-service
try with async/await with browser but didn't work out
I need to use service as 'docker' with image - selenium/standalone-chrome so can you please help me on it ?

[2019-11-21 15:57] shashtrih opened #63 "Error: connect ECONNREFUSED 127.0.0.1:4444\n at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1097:14)"
when i configured below package configuration in my project . its throwing this error
npm package use
webdriverio - 5.16.5
wdio-docker-service - 2.1.4

// wdio.conf.js
exports.config = {
  // ...
  specs: [

    './test/**/01**.js',
],
  services: ['docker'],

  // Options are set here as well
  capabilities: [{
      { browserName: 'chrome'
            //  chromeOptions: {
            //     args

[2019-11-22 00:36] stsvilik commented on #52
@Fermich11 unfortunately no. I'm in the middle of renovation and have no real space/time to dedicate for this. However if someone (wink) can reverse-engineer `docker` implementation in this repo, they could try and whip something together.

[2019-11-22 00:41] stsvilik commented on #63
Interesting... did this pattern `describe(browser.capabilities.browserName + ' - basic test', function() {` worked before (in v4 of WDIO)? I believe that this info is printed out by WDIO itself, no? Did you try with just plain text in the `describe` block?

[2019-11-22 00:53] zastqa commented on #63
yes i tried with plain text as well but still same issue
Below is test file
describe('webdriver.io page', () => {
    it('should have the right title', async () => {
        await browser.url('https://webdriver.io');
        const title = await browser.getTitle();
        assert.equal(title, 'WebdriverIO · Next-gen WebDriver test framework for Node.js');
    });
});

here its details level error
E

[2019-11-22 01:00] stsvilik commented on #63
Please try to add `runner: 'local'` to your config.

[2019-11-22 01:15] zastqa commented on #63
Thanks , make changes and  rerun test but still having same error

[2019-11-22 01:28] emilyrohrbough commented on #52
Here is an example of a custom wdio service that setups & tears down with docker-compose. We use it to setup and tear down a local selenium grid. Its still on webdriverio v4, but it might give you ideas: https://github.com/cerner/terra-toolkit/blob/master/src/wdio/services/SeleniumDockerService.js

[2019-11-22 02:17] stsvilik commented on #63
Ok, your error logs indicate that docker events crashed, which in turn means that test runner has probably started before selenium docker was available. Are you running this on Windows?

[2019-11-22 02:19] zastqa commented on #63
Yes I am running on windows 10

[2019-11-22 02:23] stsvilik commented on #63
Ok that explains it - Docker in Windows 10 uses a different command line format. Look at this issue #56. I'm working on a fix. The problem is that I don't have Windows 10 to test on now (Mac only).

[2019-11-22 02:34] stsvilik commented on #63
I have pushed out an RC version `2.1.5-rc.0` do you mind testing it out on Windows 10?

[2019-11-22 21:21] shashtrih commented on #63
Sorry for late response but i have tried out yesterday with latest version 2.1.5-rc.0 and  .. i have windows 10 home so i have downloaded docker-desktop for that config
but still getting same error , no luck :(

[2019-11-23 02:43] stsvilik commented on #63
Uhh, could you please set `logging: 'debug'` and send me the log?

[2019-11-27 19:03] shashtrih commented on #63
looks like issue with docker on windows , so now docker is running on windows
able to run my test now and it working
now I am not seeing 'ERROR wdio-docker-service: Error: Error executing sub-child: docker events --format {{json .}} ' and also ECONNREFUSED'
thanks much for all support

[2019-12-04 02:57] #63 closed

[2019-12-04 02:59] stsvilik commented on #56
@Sureiya and @webOS101  could you check the RC version on Windows to see if it fixes the problem?

[2019-12-04 13:34] calltojohn commented on #56
i see this on mac (10.13.6) running docker 2.1.0.4 (39773).  engine 19.03.4.

[2019-12-04 14:11] stsvilik commented on #56
That's with version 2.1.5.rc.0?
________________________________
From: calltojohn <notifications@github.com>
Sent: Wednesday, December 4, 2019 8:34:30 AM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.github.com>
Cc: Simon Tsvilik <st777@msn.com>; Comment <comment@noreply.github.com>
Subject: Re: [stsvilik/wdio-docker-service] Docker events fails on windows (#56)

i see this on mac

[2019-12-04 19:32] calltojohn commented on #56
yeah.  2.1.5-rc.0

[2019-12-05 16:53] stsvilik commented on #56
Would it be too much to ask for any of you to test my PR locally https://github.com/stsvilik/wdio-docker-service/pull/64. I added a code to handle docker events command based on OS, but looks like it doesn't work. I'm not really setup now to test on Windows :(

[2019-12-06 04:00] shashtrih commented on #63
Hello @stsvilik  do you know when should get new tag version(like 2.1.5) created from Release candidate 2.1.5-rc.0

[2019-12-06 05:48] stsvilik commented on #63
Hopefully soon, I have asked other issue owners to test it in their environments. Some issues still present and require a closer look. I may have another RC as a result of this investigation. Please be patient 🙂
________________________________
From: shashtrih <notifications@github.com>
Sent: Thursday, December 5, 2019 11:00:49 PM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.githu

[2019-12-30 20:20] shashtrih commented on #63
Hello @stsvilik  do you know other issue owners get chance to test it or any push for new version with this fix .. I am still patient :) but just asking its been 25 days

[2019-12-31 05:04] stsvilik commented on #63
I'm setting up Windows 10 - should be done with it in a week after holidays :/

[2020-01-03 18:09] sathio opened #66 "options don't work properly"
Hi, I have these options

        options: {
            e: ["NODE_ENV=development", "FOO=bar"],
            p: ['4444:4444'],
            shmSize: '2g',
            rm: true
        }

when running wdio they get translated like this:

    [... ]--rm -e=NODE_ENV=development -e=FOO=bar -p=4444:4444 --shm-size=2g

not sure if I'm doing something wrong, I'm sure i saw them working earlier.

        "

[2020-01-03 19:05] stsvilik commented on #66
This is a new way of serialization. Does this break anything?
________________________________
From: Sathia <notifications@github.com>
Sent: Friday, January 3, 2020 1:09:27 PM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [stsvilik/wdio-docker-service] options don't work properly (#66)

Hi, I have these options

[2020-01-03 20:01] sathio commented on #66
well, yes, i can't set a proxy, if docker receives -e=https_proxy=http://proxy.com:1234  it is not recognised

[2020-01-04 00:14] stsvilik commented on #66
Different serialization should not break anything. Here is what I ran and it works fine:
[code]

[2020-01-08 02:17] stsvilik commented on #66
@sathio could you try new RC (`2.1.5-rc.1`) I pushed out and let me know if that works?

[2020-01-08 02:23] stsvilik commented on #63
@shashtrih could you try out newer RC `2.1.5-rc.1`?

[2020-01-08 02:54] stsvilik commented on #56
@calltojohn  and @webOS101  I have tested latest RC 2.1.5-rc.1 on my Windows machine and it works fine - do you mind giving it another shot?

[2020-01-08 19:16] webOS101 commented on #56
I don't use Windows and my problem was unrelated, it was a configuration error on my part.

[2020-01-08 21:47] sathio commented on #66
hi, i was in a weird state of mind when I was debugging the parser,  after hours of wrong tests. I'm sorry it seems it's indeed fine. I was carried away by the weird `-e=FOO=bar` syntax. thanks for your work

[2020-01-09 02:09] #66 closed

[2020-01-09 13:27] stsvilik commented on #56
closing this issue for now

[2020-01-09 13:27] #56 closed

[2020-01-14 15:18] nvega-ms commented on #56
Hello! I just tested the latest RC 2.1.5-rc.1 on Windows, and I got the error :(

[2020-01-15 04:32] stsvilik commented on #56
@nvega-ms do you mind sharing the error log? I'm testing on Windows 10 Pro 64 bit

[2020-01-16 20:37] selimyan opened #72 "Does this package support images stored in AWS ECR?"
Hi, sorry this is not an issue but a question. I'm using wdio and would like to run my tests in containers. My image is stored in AWS Elastic Container Repository. Can I use that url in dockerOptions.image?

[2020-01-16 22:29] stsvilik commented on #72
I believe as long as docker pull can resolve it, it should work. With that said, you may need to configure your docker service to also have access to your AWS repo.
________________________________
From: Gayane Selimyan <notifications@github.com>
Sent: Thursday, January 16, 2020 3:37:57 PM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.github.com>
Cc: Subscribed <subscribed@noreply.

[2020-01-17 02:24] stsvilik commented on #72
Does this help? https://docs.aws.amazon.com/AmazonECR/latest/userguide/docker-pull-ecr-image.html

[2020-01-17 22:28] selimyan commented on #72
Yes, docker pull with URI works when authenticated, thanks!

[2020-01-17 22:28] #72 closed

[2020-01-28 17:18] WeresForce commented on #56
Hi, @stsvilik , I just ran into this issue as well, here is log:
2020-01-28T16:57:09.039Z DEBUG @wdio/utils:initialiseServices: initialise wdio service "docker"
2020-01-28T16:57:09.240Z INFO @wdio/cli:launcher: Run onPrepare hook
2020-01-28T16:57:09.243Z DEBUG wdio-docker-service: Docker command: docker run --cidfile C:\autoTests\WebdriverIo\selenium_standalone_chrome_debug.cid --rm -p 4446:4444 -

[2020-01-29 02:31] stsvilik commented on #56
@WeresForce the issue with `Error: Error executing sub-child` was addressed in the latest release. Do you mind sharing the version of `wdio-docker-service` and Windows version? Also make sure Docker is running on your machine, if not this could also cause errors.

[2020-01-29 16:31] WeresForce commented on #56
@stsvilik yes, You are absolutely right, my bad, I missed that Docker has stopped on my machine. Thank You for help

[2020-01-29 21:19] kumaramit-bhabra commented on #56
@stsvilik i am still getting this issue.. below is the error log for your reference

2020-01-29T21:16:40.765Z INFO @wdio/cli:launcher: Run onPrepare hook
2020-01-29T21:16:40.805Z WARN wdio-docker-service: Connecting dockerEventsListener: 44
2020-01-29T21:16:40.834Z INFO wdio-docker-service: Cleaning up CID files
2020-01-29T21:16:40.892Z WARN wdio-docker-service: NOTE: Pulling image for the first t

[2020-01-29 21:21] kumaramit-bhabra commented on #56
@stsvilik below is the config in wdio.conf.js for service as docker..

services: ['docker'],
     dockerLogs: './',
     dockerOptions: {
         image: 'selenium/standalone-chrome',
         healthCheck: 'http://localhost:4444',
         options: {
             p: ['4444:4444'],
             shmSize: '2g'
         }
     },

[2020-01-29 21:32] stsvilik commented on #56
Do you mind sharing windows version? Also make sure Docker service is running.
________________________________
From: kumaramit-bhabra <notifications@github.com>
Sent: Wednesday, January 29, 2020 4:21:17 PM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.github.com>
Cc: Simon Tsvilik <st777@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [stsvilik/wdio-docker-service] Doc

[2020-01-29 21:55] kumaramit-bhabra commented on #56
@stsvilik Thanks for the prompt reply. I am using Windows 10 Pro.. I am using Docker toolbox for windows and it's up and running

[2020-01-30 02:28] stsvilik commented on #56
@kumaramit-bhabra Docker service is installed on your machine and runs in the background. On Windows you should see a Docker icon in the toolbar. Dockerfile when its built and runs creates a VM with its own OS. Each running container can map ports of its internally running application on to the host machine. When you expose a port it becomes accessible on your `localhost`.  For example you have a

[2020-01-31 12:29] kumaramit-bhabra commented on #56
@stsvilik thanks a lot for your inputs.

I deleted my Docker desktop and re-installed it again but still i am not able to run my test cases in the container..

After re-installing i am still getting the same issue ..
ERROR wdio-docker-service: Error: Error executing sub-child: docker events --format {{json\ .}} --filter image=selenium/standalone-chrome

Docker services are also up and running. Onc

[2020-01-31 12:30] kumaramit-bhabra commented on #56
For reference the image is currently at docker hub amitbhabra/wdio_asos

[2020-01-31 13:27] stsvilik commented on #56
@kumaramit-bhabra do you mind going to `node` and telling me what value you see for `process.platform`? Also in order for you to run tests against your container, you must expose ports. When you run you container locally, can you hit it on the port exposed?

[2020-01-31 13:47] kumaramit-bhabra commented on #56
@stsvilik Below is the value printed on console
Value of opsys is win32.

When i checked the computer properties, it say it's 64 bit. I have tried by exposing the port 4444 but no luck..

[2020-01-31 13:50] kumaramit-bhabra commented on #56
@stsvilik Below is the error log for your reference.. hope this might be useful

2020-01-31T13:46:00.326Z INFO @wdio/local-runner: Start worker 0-0 with arg:
2020-01-31T13:46:00.434Z ERROR wdio-docker-service: Error: Error executing sub-child: docker events --format {{json\ .}} --filter image=selenium/standalone-chrome
    at DockerEventsListener._onMessage (/usr/app/node_modules/wdio-docker-servi

[2020-01-31 14:24] stsvilik commented on #56
Help me understand what are you trying to test.  Is your image running your application or selenium?
If your image runs your own application, then you need to run selenium in addition to your app (example is provided in wiki). If your image contains selenium, then your app must be hosted elsewhere on the web or locally.

Port 4444 belongs to selenium which actually automates all the tests.
_______

[2020-02-04 11:29] VisuSubbaiyan commented on #63
@stsvilik I'm getting the same issue in gitlab CI pipeline. It's running fine in my local.
I'm using ``` "wdio-docker-service": "^2.2.1" ```

[2020-02-04 14:16] stsvilik commented on #63
@VisuSubbaiyan Are you running windows in gitlab CI as well? Could you provide a log from CI error? Btw error could be caused by inability for CI to expose a port or find a 'localhost' or many other Docker/ system related issues.
________________________________
From: VisuSubbaiyan <notifications@github.com>
Sent: Tuesday, February 4, 2020 6:29:54 AM
To: stsvilik/wdio-docker-service <wdio-docker-s

[2020-02-04 14:47] prathameshnyt commented on #56
Thanks @stsvilik. I know we are talking about Windows here. On my personal MAC everything works fine but I am getting same error:

`2020-02-04T14:38:11.092Z ERROR wdio-docker-service: Error: Error executing sub-child: docker events --format {{json\ .}} --filter image=<image>` with latest release while running the same tests as part of CI/CD pipeline. We are using https://drone.io/ and deployed usi

[2020-02-04 16:35] VisuSubbaiyan commented on #63
Please check the CI log...

[code]

[2020-02-04 23:14] stsvilik commented on #56
Upsetting part is that everything works on my Windows 10 at home :(. Would you be able to echo value of `process.plarform` in Node running on your CI?
________________________________
From: prathameshnyt <notifications@github.com>
Sent: Tuesday, February 4, 2020 9:47:39 AM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.github.com>
Cc: Simon Tsvilik <st777@msn.com>; Mention <mention@

[2020-02-05 00:53] prathameshnyt commented on #56
Hi @stsvilik , in case of my local MAC it's `darwin` and in case of CI it's `linux` . Please let me know in case you need any other information. Thanks for looking.

[2020-02-05 03:39] stsvilik commented on #56
@prathameshnyt thank you for that! As I don't have all possible environments to test on this sort of information is really important. I believe that core of this issue is in that difference between how Docker on different OS's works. I did not know that linux was also a subject to this issue as the CI this package tests run on is also a Linux OS. I will look into running more tests under various s

[2020-02-05 03:43] prathameshnyt commented on #56
Thank you so much @stsvilik for looking into it.

Thanks,
Prathamesh

[2020-02-05 04:15] stsvilik commented on #56
@prathameshnyt apparently my refactoring of options serialization code few PR's ago also eliminated the need to format that docker events JSON option differently for different OS's (who knew).  With that said please give a shot to my latest version `2.3.0`. Hope this settles this issue once and for all (fingers crossed).

[2020-02-05 04:20] stsvilik commented on #63
@VisuSubbaiyan please try with latest version `2.3.0`. Thanks!

[2020-02-05 09:36] VisuSubbaiyan commented on #63
@stsvilik  Thank you for your reply, but still, Im having the same issue.

[2020-02-05 10:03] VisuSubbaiyan commented on #56
https://github.com/stsvilik/wdio-docker-service/issues/63, Still its not working for me.

[2020-02-05 14:15] prathameshnyt commented on #56
Thanks @stsvilik. Getting same error with `2.3.0 `version.

Thanks,
Prathamesh

[2020-02-05 14:19] stsvilik commented on #56
I guess it's something else. Anyway for you to get a printout of the log file generated by service?
________________________________
From: prathameshnyt <notifications@github.com>
Sent: Wednesday, February 5, 2020 9:15:07 AM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.github.com>
Cc: Simon Tsvilik <st777@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [stsvilik/wdio-d

[2020-02-05 14:48] stsvilik commented on #63
@VisuSubbaiyan are you able to make it run locally?
________________________________
From: VisuSubbaiyan <notifications@github.com>
Sent: Wednesday, February 5, 2020 4:36:13 AM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.github.com>
Cc: Simon Tsvilik <st777@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [stsvilik/wdio-docker-service] Error: connect ECONNREFUSED 127.0

[2020-02-05 15:11] VisuSubbaiyan commented on #63
@stsvilik Yes, It's working fine in my Mac

[2020-02-05 16:32] prathameshnyt commented on #56
I will check. Thanks.

[2020-02-05 19:29] prathameshnyt commented on #56
I see the same error https://github.com/stsvilik/wdio-docker-service/issues/63#issuecomment-581997657 Thanks, Prathamesh

[2020-02-05 19:55] prathameshnyt commented on #56
May, it's not waiting for Docker to come up and not retrying as well though we have

[code]

I killed docker application and started again on my local machine MAC, but before it starts completely, If I run the test, I am seeing above error.

Thanks,
Prathamesh

[2020-02-05 23:50] stsvilik commented on #56
This is likely the issue, since starting docker doesn't guarantee the start of the app.
________________________________
From: prathameshnyt <notifications@github.com>
Sent: Wednesday, February 5, 2020 2:55:19 PM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.github.com>
Cc: Simon Tsvilik <st777@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [stsvilik/wdio-docker-servic

[2020-02-05 23:52] stsvilik commented on #63
Then it's likely the issue with CI environment. It could be slow start the app in the docker and thus needs more delay in health check.
________________________________
From: VisuSubbaiyan <notifications@github.com>
Sent: Wednesday, February 5, 2020 10:11:05 AM
To: stsvilik/wdio-docker-service <wdio-docker-service@noreply.github.com>
Cc: Simon Tsvilik <st777@msn.com>; Mention <mention@noreply.gith

[2020-02-06 12:40] prathameshnyt commented on #56
@stsvilik , can you please check if startDelay setting works for you? Thanks.

[2020-02-06 13:38] stsvilik commented on #56
@prathameshnyt Yes it does. Here is how I set that
[code]

[2020-02-06 13:40] stsvilik commented on #56
@prathameshnyt One thing to note that service will try to use native docker healthcheck event to start testing earlier. What this means is if Dockerfile has `HEALTHCHECK` set and it signals in success, tests will not wait for artificial delay. Same also applies if Docker healthcheck is set via command line.

[2020-02-06 14:28] prathameshnyt commented on #56
Ok, thanks. Not sure, why it's not waiting in my case. I have tried now with `image: 'selenium/standalone-chrome-debug'` I don't see `HEALTHCHECK`.

Thanks,
Prathamesh

[2020-02-06 16:49] prathameshnyt commented on #56
I see health-check [adding-a-healthcheck-to-the-grid](https://github.com/SeleniumHQ/docker-selenium/blob/5b7626c705bda91d90af4a7f74bb57b1e4056612/README.md#adding-a-healthcheck-to-the-grid added to Base image) added to Base image [Dockerfile](https://github.com/SeleniumHQ/docker-selenium/blob/5b7626c705bda91d90af4a7f74bb57b1e4056612/Base/Dockerfile)

[2020-03-17 05:08] Pratikhanagodimath opened #78 "Error: socket hang up OR Error: connect ECONNREFUSED 127.0.0.1:42395 - when 'docker' and 'devtools' services are used together."
I am attempting to use docker and devtools service together to evaluate performance of a page. Running locally. I am running into issues when I include ‘devtools’ as a service along with docker service, without ‘devtools’ the test just runs fine. Below is the error I see. What am I missing?. Seems like same issue mentioned here by prathameshnyt -> #3744 (comment)

**Error without the mention of ch

[2020-03-18 02:24] stsvilik commented on #78
@Pratikhanagodimath I don't believe Chrome runs debugger by default. You may need to turn it on through flags (Ex. `--remote-debugging-port=9222`)

[2020-03-18 03:08] Pratikhanagodimath commented on #78
@stsvilik thanks!. I have tried it but seem to be getting  "Error: socket hang up". Below is my config and error message.

**config**
[code]
**ERROR**

2020-03-18T03:04:51.237Z DEBUG @wdio/utils:initialiseServices: initialise wdio service "docker"
2020-03-18T03:04:51.242Z DEBUG @wdio/utils:initialiseServices: initialise wdio service "devtools"
2020-03-18T03:04:51.501Z INFO @wdio/cli:launcher: Run

[2020-03-18 14:02] stsvilik commented on #78
@Pratikhanagodimath just for the sake of following order of elimination - a) did you try running tests w/o devtools and b) have tried running docker image `selenium/standalone-chrome` with debugging enabled in a stand-alone mode?

[2020-03-18 16:43] ariesranjan opened #80 "ERROR: connect ECONNREFUSED 127.0.0.1:4444"
Hi,
I am getting ERROR: connect ECONNREFUSED 127.0.0.1:4444 while using the wdio-docker-service. Below is my Dockerfile:
`FROM ubuntu:latest

LABEL maintainer="Ankit Ranjan"

ENV LC_ALL=C
ENV DEBIAN_FRONTEND=noninteractive
ENV DEBCONF_NONINTERACTIVE_SEEN=true

RUN groupadd --gid 1000 node \
  && useradd --uid 1000 --gid node --shell /bin/bash --create-home node

RUN apt-get -qqy update
RUN apt-get

[2020-03-18 17:29] Pratikhanagodimath commented on #78
@stsvilik
a)
- The test runs fine when I do not use 'devtools' as a service.

- On using devtools as a service, if I do not mention debuggerAddress, I get  error --> "UnhandledPromiseRejectionWarning: Error: connect ECONNREFUSED 127.0.0.1:34783
at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1126:14)". Full details of error is mentioned in the question above.

- On using devtools as a servi

[2020-03-21 01:31] stsvilik commented on #78
@Pratikhanagodimath for `b)` I meant starting a docker image with Chrome exposing debugger interface on port `9222`. If port is active and mapped properly to `localhost`, you can hit it to see if its working with something like `http://localhost:9222/json/version`.

My suspicion is that `devtools` service is designed to work with local binary files via puppeteer and thus can't hit a remote debug i

[2020-03-21 01:42] stsvilik commented on #80
@ariesranjan If you're trying to run tests agains a containerized app, you still need a selenium to run a test with. Look at one of the examples in the wiki https://github.com/stsvilik/wdio-docker-service/wiki/Testing-dockerized-application

[2020-03-21 18:19] callemang opened #81 "Upload local file to browser"
Hello, I am attempting to upload a jpg to the browser. I can console.log out the file's location but I am getting a "file no found" when running with this service. This does work when using selenium-standalone service.

The code is similar to this:
[code]

The error logs look like this:
[code]

Any help would be appreciated. This project is awesome and I'd love to continue to use it.
Much thanks!

[2020-03-22 00:26] stsvilik commented on #81
@callemang for starters Selenium stand-alone will work with local browser binary running on your machine. Docker service runs Chrome in the docker container and may have permission issues or it may not have access to the file you're trying to upload. Perhaps you need to map a directory where upload file resides into the docker container?

[2020-03-23 23:47] callemang commented on #81
Yessir! Mounting the volumes into my selenium container (like below) worked like a charm.
[code]
Much appreciated. I am closing this issue.

[2020-03-23 23:47] #81 closed

[2020-03-24 00:12] stsvilik commented on #81
@callemang I'm glad it all worked out :)

[2020-03-24 05:08] Pratikhanagodimath commented on #78
@stsvilik Sorry for my delayed response. I tried what you asked and got back a response. Detailed below:
- Ran the image:  ```docker run -p 4444:4444 -p 9222:9222 selenium/standalone-chrome```
- Started chrome: ```/usr/bin/google-chrome-stable --headless --no-sandbox --remote-debugging-port=9222 --remote-debugging-address=0.0.0.0 --disable-gpu```
- Got below response by hitting ```http://localhost

[2020-04-04 02:41] stsvilik commented on #80
@ariesranjan It is hard to discern what is that you're trying to do. Before dumping so much code, please explain your objective and I'll try to help you out as much as I can. Closing this for now.

[2020-04-04 02:41] #80 closed

[2020-04-10 07:48] soumya-contentsquare commented on #63
I am facing exactly the same issue in MAC. I am running through CI-CD pipeline in linux environment docker image

[2020-04-12 00:20] stsvilik commented on #63
@soumya-contentsquare are you testing a public site or your containerized app?

[2020-04-12 11:12] soumyaevan commented on #63
I am testing public website. My docker environment is for Chrome

[2020-04-12 15:00] stsvilik commented on #63
@soumyaevan could you share environment details such as node version, OS?
Is `docker` installed and working? Is there a special network requirement such as proxy?

Issue above indicates that WDIO is unable to connect with Selenium which runs in the container. Make sure docker port is properly mapped and exposed.

[2020-04-14 07:15] soumya-contentsquare commented on #63
@stsvilik
node version - 8.12.0
OS - MAC
Docker is added as dev dependency
When running the docker locally in the machine, working perfectly. but while executing from jenkins server it is failing

[2020-04-17 18:25] lud200 commented on #63
Is this issue resolved? I cannot find any suggested solution in this thread. I am running into similar issues when I try to run from jenkins.
Configs in wdio.conf.js:
`services: ['docker'],
  dockerLogs: './',
  dockerOptions: {
    image: 'selenium/standalone-chrome',
    healthCheck: 'http://localhost:4444',
    options: {
      p: ['4444:4444'],
      addHost: ['dockerhost:localhost'],
      sh

[2020-04-20 17:53] amartanwar42 opened #82 "Getting error while running webdriver io tests on chromestandalone docker image"
2020-04-20T17:44:07.162Z ERROR wdio-docker-service: Error: Error executing sub-child: docker events --format "{{json .}}" --filter image=selenium/standalone-chrome
     at DockerEventsListener._onMessage (/builds/get.on/patientapp-web-automation/node_modules/wdio-docker-service/lib/utils/dockerEventsListener.js:67:21)
     at ChildProcess.emit (events.js:315:20)
     at ChildProcess.EventEmitter.e

[2020-04-20 23:27] stsvilik commented on #82
@amartanwar42 is `docker` service running? Also what options are you setting for docker - this error means that docker command failed to execute.

[2020-04-20 23:51] stsvilik commented on #63
Sorry for delay. This issue is environment-specific and not easily diagnosed. Jenkins, depending on the setup and configuration could prevent local instances from exposing ports for access or maybe even make calls via `localhost`. Could you try to use actual host address from env instead of localhost to specify for Selenium host?

[2020-06-02 19:57] shashtrih commented on #82
I am getting simliar error using wdio-docker-service@2.3.0 over CI/CD gitlab pipelines  here its my wdio.conf.js file
can you please suggest i need to change or add anything ?
exports.config = {

    suites: {
        accessibility: [
            './automation/accessibility/a11y-test.js'
        ]
    },
    maxInstances: 20,
    capabilities: [
        {browserName: 'chrome',
            'goog:ch

[2020-06-04 10:59] stsvilik commented on #82
@shashtrih  I have updated the package to include error output of when sub-child process is running - this should help with debugging your current setup. This should appear as additional info in `Error: Error executing sub-child: ...` part

[2020-06-05 04:20] shashtrih commented on #82
@stsvilik thanks for response. I have changed hostname to 'selenium__standalone-chrome' but i am getting different error that " request fauled due to getaddrinfo ENOTFOUND selenium__standalone-chrome selenium__standalone-chrome: 4444  , do you know what paraemeters i can use for hostname as i am running over ci/cd gitlab pipeline

[2020-06-07 01:35] stsvilik commented on #82
@shashtrih Not all CI pipelines permit binding to an IP of the running node. You have to figure out how to obtain either IP or hostname of the node where docker is running, and use that as an address for selenium host.

[2020-06-07 01:43] stsvilik commented on #82
@shashtrih Here is another idea for you. Since Gitlab supports docker executor, why not run `selenium/standalone-chrome:3.141.59-20200409` as one of them, and use Webdriver w/o any service at all, just point host to the selenium executor directly?

[2020-07-21 04:39] hieuxlu opened #85 "Unable to use command and args docker options because it's appended after container name"
I'm trying to add `--network host` command/args option but was blocked by below exception ).
[code]

The real exception was below
[code]

Docker command
[code]
Moving `--network host` to before `selenium/standalone-chrome` and the command works.

I don't know if there's a reason why command and args are pushed behind container name. I think container name should be pushed last.

I can create a PR

[2020-07-21 16:51] stsvilik commented on #85
@hieuxlu do you mind sharing the configuration code where you try to include `--network host` value?

[2020-07-21 16:54] stsvilik commented on #85
@hieuxlu have you tried this?
[code]

[2020-07-21 17:04] hieuxlu commented on #85
@stsvilik Ah now it makes more sense. I was using `command` and `args`. It turns out any property in `options` will be serialized before `name`, so this works as well. Will try again tmr. Thanks.

[2020-07-21 17:21] hieuxlu commented on #85
@stsvilik It works, thank you very much. Although I think the example is missing `path: /wd/hub` option to work with `wdio` v6, or wdio will always try to launch Chrome on host machine instead of one in docker container.

Here's my wdio config. If you prefer, I can add this as another recipe for local development.

[code]

[2020-07-21 17:22] #85 closed

[2020-07-21 22:10] stsvilik commented on #85
@hieuxlu It makes sense to put together a Wiki page with WDIO 6 recipes/recommendations

[2020-07-21 23:39] stsvilik commented on #82
@shashtrih any updates on this, or should I close it?

[2020-07-28 17:21] hieuxlu commented on #85
@hieuxlu I created this PR to bump wdio version to v6. #86 Could you have a look?

I will also update the wiki page as well on how `path` is needed for `wdio` v6 and how Selenium v4 docker image is not using `selenium/node-chrome-debug` anymore but an alpha image as mentioned on their wiki https://github.com/SeleniumHQ/docker-selenium#debugging

[2020-07-30 11:35] #82 closed

[2020-07-30 11:35] stsvilik commented on #82
Closing due to inactivity

[2020-10-07 00:52] samy777md commented on #63
hello world

[2020-10-07 00:53] samy777md commented on #63
hello world

[2020-10-28 10:56] hugoeanogueira commented on #78
@Pratikhanagodimath Any luck?

We had some troubles configuring docker and devtools services together, because there were a lot of hidden details we were not figuring out at first.

For our setup, we want to run the wdio process in the host machine, pointing to a docker instance with Chrome. Ideally, the browser can also access our development webpack instance (host machine) for better DX. Recappi

[2020-12-09 12:24] ssfxate opened #90 "extra_host option needed"
Hey, how can I add `extra_hosts` to `dockerOptions`?

When I'm using docker-compose, it looks like this. How can I add this parameter into wdio config options for `wdio-docker-service`?
[code]

[2020-12-09 21:10] stsvilik commented on #90
Try

[code]

[2020-12-14 14:16] ssfxate commented on #90
I need a bit more time to check. Sorry for no feedback.

[2020-12-15 16:12] stsvilik commented on #90
@ssfxate No worries. In general, options would mimmic CLI options of `docker run` command (just camel-cased). Options which could be specified multiple times need to be declared as arrays (i.e. `-e`, `-p`, `--add-host`, etc.)

[2020-12-27 13:02] AlexeyCL opened #91 "Docker process is hanging after test execution"
Hi,
I'm facing an issue with the docker service:

Config of WebdriverIO
[code]
**Bug description:**

For test execution, I'm using lerna, which executes tests with a docker. After the test execution, the docker process is stuck.

To Reproduce
https://github.com/AlexeyCL/wdio-docker-lerna you can find a simple example

[2020-12-28 06:03] stsvilik commented on #91
@AlexeyCL I would first try to remove `selenium/standalone-chrome` image from your system, to force pulling latest version. I've had issues with that before. It's pretty easy in command line `docker rmi selenium/standalone-chrome`.

[2020-12-28 06:04] stsvilik commented on #90
@ssfxate any luck?

[2020-12-28 07:03] AlexeyCL commented on #91
hey @stsvilik ,
but it happens in CI, also I don't have `selenium/standalone-chrome` image, it runs in CI, without anything

[2020-12-28 07:07] AlexeyCL commented on #91
@stsvilik well, I removed all images and it happened( Could you please try to run it from the example, that I provided?

[2020-12-28 07:09] stsvilik commented on #91
Perhaps the issue is with lerna test runner which is unable to terminate dockers process. Mocha seems to be able to terminate the container just fine.

[2020-12-28 07:13] AlexeyCL commented on #91
I think, the problem not with Lerna, I tried another executor and got the same issue. I'm trying to find another example

[2020-12-28 10:11] AlexeyCL commented on #91
@stsvilik please review https://github.com/stsvilik/wdio-docker-service/pull/93

[2020-12-29 10:08] ssfxate commented on #90
Still haven't checked. Sorry.

Can we close it for now and open it later if I won't get success?

[2020-12-29 15:03] stsvilik commented on #91
@AlexeyCL I have merged your PR (Thank you!) and upgraded all dependencies on top of it. Please install latest version 3.1.0.

[2020-12-29 15:03] #91 closed

[2020-12-29 15:04] stsvilik commented on #90
@ssfxate Yep, will close it for now. Update me in case you're still running into trouble.

[2020-12-29 15:04] #90 closed

[2020-12-29 21:27] stsvilik commented on #91
@AlexeyCL please let me know if this fixed your issue

[2021-03-14 09:36] ajitqait commented on #23
I am running protractor script using docker-compose with setup of selenium grid and calling dockerfile in docker-compose using build: .
Docker Compose File Is below:

version: '3'

services:
    progrid:
        image: selenium/hub:3.141.59-20210105
        container_name: progrid
        ports:
            - 4444:4444
        environment:
            - GRID_TIMEOUT=240000
            - GRID_BROWS

[2021-03-15 13:11] stsvilik commented on #23
@ajitqait sorry, but what does this example have to do with wdio dockers service?

[2021-06-09 15:31] johnson-tyl opened #104 "Calling `browser.mock` in a docker container fails with `ECONNREFUSED`"
Originally logged here: https://github.com/webdriverio/webdriverio/issues/6997

--------------------------------------

If you run a test that needs `browser.mock` inside docker container, it fails on node-fetch ClientRequest with `ECONNREFUSED` error.

**Exception**:
[code]

**NOTE**: The port seen above is not same every time, so cant expose it either.

**Environment (please complete the followi

[2021-06-12 11:39] stsvilik commented on #104
@johnson-tyl If all you need is to expose an extra port from the docker container (and you can somehow "fix" it to be the same all the time), then all you need to do is expose it via `dockerOptions.options.p` (just like in example you have, just add one more to an array).

[2021-06-14 11:34] johnson-tyl commented on #104
This port is random, if I knew what it was I would have exposed it.

Do you know of any way to fix this port before running?

[2021-06-14 12:27] stsvilik commented on #104
Not sure how to fix it, but there is a way to expose a range of ports in Docker, which you could try. Isn't there a range for these ports?

[2021-06-14 12:30] johnson-tyl commented on #104
I managed to fix the debugger port and expose it in docker but now it throws socket hang up error.

[code]
Any idea how to fix this, I am not running it headless, will that make any difference?

[2021-06-14 12:36] stsvilik commented on #104
Help me understand where this call is initiated. Is Chrome (in remote debug mode) running inside a container or outside on your machine?

[2021-06-14 12:46] johnson-tyl commented on #104
This is my test setup:

- Uses wdio-docker-service
- Uses `devtools` implicitly through `browser.mock()` call, so `devtools` it not a service in wdio config
- Running inside docker on chrome

Docker options:
[code]

Capablities:

[code]
Let me know if you need anything else please.

[2021-06-14 13:04] stsvilik commented on #104
Could you try to remove expose option and just use p with 9200:9200?

[2021-06-14 13:07] johnson-tyl commented on #104
Have done that too, same result I am afraid.

[2021-06-14 13:08] johnson-tyl commented on #104
you mean also remove `0.0.0.0` from p?

[2021-06-14 13:24] stsvilik commented on #104
Yep

[2021-06-14 13:25] johnson-tyl commented on #104
tried that too, same error, any other ideas?

[2021-06-14 14:46] stsvilik commented on #104
Hard to say because I'm still fuzzy about which side attempts to make a connection. If test running on your machine is trying to connect to debug port inside a container, then localhost should resolve fine since that port is exposed. If it's the code inside container which attempts to access port outside via localhost, then it will not work since to a Docker that name points to itself.

[2021-06-14 15:22] johnson-tyl commented on #104
Since devtools run inside the chrome browser (inside container), its possible the call might be from the inside of the container. Someone had a similar problem using `wdio-docker-service` and `devtools` as service, https://github.com/stsvilik/wdio-docker-service/issues/78 not sure if their problem was resolved.

[2021-06-17 04:21] stsvilik commented on #104
Maybe this will help if you can change the host to which it attempts to connect. https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-container-how-do-i-connect-to-the-localhost-of-the-mach

[2021-06-17 16:33] johnson-tyl commented on #104
Thanks @stsvilik, I tried changing the `remote-debugging-address` to "host.docker.internal" but getting the same error.

[code]

Tried the 2nd option of adding `network: 'host'` to `dockerOptions` but that's throwing error starting docker, looks like its only supported in Docker on Linux (I am on Windows):

[code]

Anything more you can recommend please? I am not a regular Docker user, so not very

[2021-06-17 17:39] johnson-tyl commented on #78
Was this inside the container or outside, I am facing similar issue using devtools (not as a service though), details here #104.

I am able to access `http://localhost:9222/json/version` inside container and it returns a similar response to yours but not outside, looks like it is unable to map this port outside of container and devtools is actively blocking it from being accessed outside making it

[2021-06-17 18:01] johnson-tyl commented on #104
Looks like I found the solution to the problem, the only way it exposes the port outside of container is when you run it headless, this is completely odd.

Tried it after reading it a few different places on Stackoverflow, last one being:
https://stackoverflow.com/questions/48319240/chrome-fails-to-serve-from-debugging-port-inside-docker-container

[2021-06-17 18:01] #104 closed

[2021-06-17 18:03] stsvilik commented on #104
I would add host to the Docker with IP of host machine and use that host name with remote debugging address.

[2021-06-17 18:06] johnson-tyl commented on #104
If I add IP address of host, it will fail when one of my colleagues run it, as they wont have the same IP address as my machine?

[2021-08-04 16:51] kewgrz opened #106 "gitlab ci set-up"
Really appreciate this service!

I'm pretty new to setting up CI. I'm trying to set this up in gitlab. This perhaps is not much of an issue or maybe not the right place to ask this so I apologize if so. I'm having an issue with connecting to the port and I'm not sure how to solve this issue. Is there perhaps an example or something that could point me in the right direction?

'ERROR webdriver: Req

[2021-08-12 22:24] #106 closed

[2021-08-13 19:47] stsvilik commented on #106
@kewgrz if you have solved your problem, do you mind sharing what it was?

[2021-11-12 15:56] CristobalBautista commented on #104
@johnson-tyl Hi, I'm trying to run the browser.mock() command in a docker container as well, but I'm getting the same error you got.
Did you manage to make it work?
I'm already running it in --headless and set the --remote-debugging-port=9222, but same error.

[2021-12-09 12:59] gianlucamangiapelo commented on #104
Hy @johnson-tyl I'm trying to fix this issue also on my side.
Can you share with us your configurations that allows to use .mock() with no issue?

Thanks

[2021-12-17 07:18] nikhil-sharma10 commented on #44
Hii There, I tried using Wdio-docker-service ^3.1.4 with wdio v4. I am getting docker initialize error.
ERROR: Couldn't initialise service "docker".
/home/nikhil/ViralGains/IdeaProjects/cucumber-salad/node_modules/wdio-docker-service/node_modules/fs-extra/lib/mkdirs/make-dir.js:85
      } catch {
              ^

SyntaxError: Unexpected token {
    at new Script (vm.js:51:7)
    at createScript (v

[2021-12-17 16:36] stsvilik commented on #44
@nikhil-sharma10 the version of Wdio that is compatible with 3.1.4 should be at least 5 (better to use 6). That could be the reason for error. Also errors point to file system issues, so make sure that RW permissions are set on the directory you work in.

[2021-12-17 16:51] christian-bromann commented on #44
Better to use 7 😉

[2022-08-10 12:04] jamesmortensen commented on #52
Looks like the file has been moved to this location:  https://github.com/cerner/terra-toolkit/blob/main/packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js